@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.container {
  margin: auto;
  width: 80%;
}

.panel-padding {
  margin: 10px auto 10px auto;
}

.nav-btn-width {
  min-width: 100%;
}

.float-glyph-right {
  float: right;
}

.navbar-collapse.in {
  overflow-y: visible;
}

.img-responsive {
  margin: auto;
}

.pw-presentation {
  text-align: center;
  overflow-wrap: break-word;
}

.btn-width {
  width: 100%;
}
